version: 2.1
 
orbs:
  sedstart: shinobi/cicd@dev:one
 
jobs:
  run-sedstart-cloud:
    docker:
      - image: cimg/node:20.18.0
    steps:
      - run:
          name: "Debug: show env"
          command: |
            echo "Testing sedstart-shinobi orb (dev)"
      - sedstart/runcloud:
          api_key: SEDSTART_API_KEY
          test_id: 74
          project_id: 18
          profile_id: 36
 
workflows:
  main:
    jobs:
      - run-sedstart-cloud
          
